.promotion-card{
  width: 100%;
}
.promotion-card-wrapper{
  width: 100%;
  padding: 5% 0px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.promotion-card-img{
  width: 30%;
  margin: 3% 7%;
}
.promotion-card-img img{
  width: 100%;
}
.promotion-card-info{
  width:70%;
}
.promotion-get-wrapper{
  width: 100%;
  padding: 5% 0px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.promotion-get-wrapper img{
  width: 100%;
}