/*RESET ==============================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

li, input{
  display: block;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid black;
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
button{
  outline: none;
}
/*MAIN ==========================================================*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=K2D:400,700i&display=swap');

#root{
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}

.container{
  font-family: 'Poppins', sans-serif;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  min-height: 100vh;
  height: auto;
  position: relative;
  color: #0e002f;
}
a,a:hover,a:active,a:visited{
  text-decoration: none;
}

h1{font-size: 2.5em;margin: 2%; font-family: 'K2D', sans-serif; font-weight: 700;font-style: italic;}
h2{font-size: 2em;margin: 2%;}
h3{font-size: 1.2em;margin: 2%;}
h4{font-size: 1em;margin: 2%;}
h5{font-size: 0.9em;margin: 2%;}
p{font-size: 0.8em;margin: 2%;}
label{font-size: 0.8em;}
input{font-size: 1em; font-family: 'Poppins', sans-serif;text-align: center;}


form{
  width: 80%;
  padding: 3% 5% 13% 5%;
  max-width: 320px;
  margin: 0 auto;
  border: 5px solid #eee;
  border-radius:20px;
  background: white;
  -webkit-box-shadow: 0px 0px 35px -51px rgba(0,0,0,0.38);
  -moz-box-shadow: 0px 0px 35px -51px rgba(0,0,0,0.38);
  box-shadow: 0px 0px 35px -51px rgba(0,0,0,0.38);
  transition: all 300ms;
  position: relative;
  z-index: 2;
  box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
}

input[type="text"],input[type="number"],input[type="password"],input[type="email"]{
  width: 100%;
  height: 45px;
  border-radius: 50px;
  margin: 5px 0;
  border: 1px solid #d6d5d5;
  outline: none;
}
.logout-navbar{
  width: 100%;
  max-width: 450px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  position: fixed;
  background: #f9f7f7;
  z-index: 999;
}
.logout-navbar img{
  width: 5%;
  margin: 2%;
}

/*SPLASH ==========================================================*/

.home-splash-wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(-45deg, #ff9d2f, #5c0037, #0e002f, #402482);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}
.home-splash-title{
  width:100%;
}

.home-splash-title img{
  width:80%;
}

.home-splash-wrapper > div{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.home-splash-description img{
  width:80%;
}

.home-splash-buttons a{
  width: 100%;
  position: relative;
}
.home-button-signup{
  color: white;
  font-family: 'K2D', sans-serif;
  font-size: 1.1em;
  font-weight: 700;
  font-style: italic;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 80px;
  width: 80%;
  border-radius: 50px;
  border: none;
  background-image: linear-gradient(#ff9d2f, #ff6126);
}

/*animations======================================*/

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


/*SIGN UP ==========================================================*/

.signup-bg-color-black{
  background-image: linear-gradient(#402482, #0e002f);
  background-attachment: fixed;
}
.signup-bg-color-business{
  background-image: linear-gradient(#e20088,#ff2f2f);
  background-attachment: fixed;
}
.signup-bg-color-customer{
  background-image: linear-gradient(#ff9d2f, #ff6126);
  background-attachment: fixed;
}

.signup-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 5% 0 0 0;
}

.signup-wrapper img {
  width: 30%;
  margin: 10%;
}

.radio-wrapper{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
  
}

.radio-checked{
  width:45%;
  display: block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.radio-checked input{
  position: relative;
  opacity: 0;
  cursor: pointer;
  display: none;
}

.radio-checked input:checked ~ .checkmark-business {
  border:5px solid #e20088;
  background:#ffe1e1;
  transform: scale(1.1) rotate(2deg);
  box-shadow: inset 0px 0px 22px 0px rgb(255, 100, 38);
  z-index: 3;
}
.radio-checked input:checked ~ .checkmark-customer {
  border:5px solid #ff6126;
  background:#fff5e3;
  transform: scale(1.1) rotate(-2deg);
  box-shadow: inset 0px 0px 22px 0px rgb(255, 100, 38);
  z-index: 3;
  
}
.checkmark-customer, .checkmark-business{
  display: block;
  position: relative;
  padding: 15% 0;
  width: 100%;
  border: 4px solid #eee;
  border-radius: 10px;
  margin: 20px 0;
  transition: all 500ms;
  box-shadow: inset 0px 0px 5px 0px rgba(229, 177, 177, 0.5);
}

.form-button-business{
  color:white;
  font-family: 'K2D', sans-serif;
  font-weight: 700;
  font-style: italic;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  bottom:-30px;
  height: 60px;
  width: 80%;
  border-radius:50px;
  border:none;
  background-image: linear-gradient(#e20088,#ff2f2f);
}
.form-button-customer{
  color:white;
  font-family: 'K2D', sans-serif;
  font-weight: 700;
  font-style: italic;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  bottom:-30px;
  height: 60px;
  width: 80%;
  border-radius:50px;
  border:none;
  background-image: linear-gradient(#ff9d2f, #ff6126);
}

.form-button-disabled{
  color:rgb(88, 88, 88);
  font-family: 'K2D', sans-serif;
  font-weight: 700;
  font-style: italic;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  bottom:-30px;
  height: 60px;
  width: 80%;
  border-radius:50px;
  border:none;
  background-image: linear-gradient(#adadad, #8f8f8f);
}

.form-button-delete{
  color: white;
  font-family: 'K2D', sans-serif;
  font-weight: 700;
  font-style: italic;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -30px;
  height: 40px;
  margin: 10px 0;
  width: 50%;
  border-radius: 50px;
  border: none;
  background-image: linear-gradient(#402482, #0e002f);
}
.login-link-text-color{
  color: white;
  margin: 30px;
  text-align: center;
  width: 100%;
}
.login-link-text-color a{
  color:#0e002f;
  font-size: 1em;
  background-color: white;
  padding: 2% 5%;
  border-radius:20px;
  margin-left:10px;
}
/* BUSINESS ==================================================*/
.business-page{
  padding: 60px 3% 20% 3%;
}
.business-bg-color{
  background-color: #f9f7f7;
  background-attachment: fixed;
}

.business-page-togglebuttons{
  width: 100%;
  margin:0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.business-page-togglebuttons div{
  width: 50%;
  padding: 5%;
  margin: 2% 0;
  text-align: center;
}

div.selected-button{
  width: 100%;
  padding: 2px 0;
  background:#e20088;
  margin-top: 20px;
  transition: all 200ms;
}

div.noselected-button{
  width: 100%;
  padding: 2px 0;
  margin-top: 20px;
  transition: all 200ms;
}
a.worker-add-button,a.promotion-add-button{
  position: fixed;
  text-align: center;
  color: white;
  font-weight: 400;
  z-index: 8;
  bottom: 0;
  margin: 15px 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 15px;
  border: none;
  color: white;
  border-radius: 50%;
  border: none;
  background-image: linear-gradient(#e20088,#ff2f2f);

}

a.worker-add-button img,a.promotion-add-button img{
width: 60px;}

.worker-card-link{
  display: block;
  margin: 3% 0;
  border: none;
  border-radius: 10px;
  transition: all 500ms;
  box-shadow: 0px 8px 10px -12px rgba(0,0,0,0.33);
  color:#0e002f;
}

.worker-card-link h4{
  color: #e20088;
  font-family: 'K2D', sans-serif;
  font-size: 1em;
  font-weight: bold;
}
.worker-card-link:active{
  transform: scale(0.95)
}
.worker-profile{
  margin-bottom:30px;
  padding: 50px 0 0 0;
}
.worker-profile h3,.modal-edit-form h3{
  font-size: 1.5em;
  margin: 5% 0;
  font-family: 'K2D', 
  sans-serif; 
  font-weight: 700;
  font-style: italic; 
  text-align:center;
}


.modal-edit-form{
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  margin-bottom: 80px;
}
.bg-modal{
    width: 100%;
    height: 100%;
    position: absolute;
    background: #f9f7f7;
    z-index: 9;
    display: none;
}

.business-card-wrapper{
  width: 100%;
  position: relative;
}
.business-card-img{
  width: 80%;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  border: 5px solid #eee;
  margin: 0 auto;
}
.business-card-img img{
  height:120%;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%)
}
.business-card-data-wrapper{
  width: 100%;
  padding: 5% 0px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  top: -30px;
  position: relative;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 8px 16px -12px rgba(0,0,0,0.33);
}
.business-card-title{
  width: 50%;
  text-align: left;
  padding-left:5%;
}
.business-card-data{
  width: 50%;
  text-align: right;
  padding-right:5%;
}
/*WORKER CARDS AND OTHERS ============================== */

.worker-card{
  width: 100%;
}
.worker-card-wrapper{
  width: 100%;
  padding: 5% 0px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  position: relative;
  
}

.worker-card-img{
  margin: 3% 7%;
  width: 60px;
  height: 60px;
  border-radius:50%;
  overflow: hidden;
  position: relative;
  border: 5px solid #eee;
  display: inline-block;
}
.worker-card-img img{
  height: 100%;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%)
}
.worker-card-info{
  width:70%;
}
.rating-wrapper{
  display: block;
  position: relative;
}


/*inputs =============================================================================*/

.inputfile-wrapper{
  display: block;
}

.inputfile{
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  font-size: 1em;
  text-align: center;
  font-weight: 700;
  display: block;
  margin: 20px auto 40px;
}

.inputfile-wrapper img{
  width:100%
}


.inputfile + label {
	cursor: pointer; 
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.profile-card-img{
  margin: 3% 7%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 163;
  position: relative;
  border: 11px solid #eee;
  display: inline-block;
}

.profile-card-img img{
  height: 100%;
  width: auto;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%)
}

img.disabled-upload-img{
  width: 50%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.close-button{
  text-align: center;
  display: block;
  font-size: 1em;
  font-weight: 700;
  width: 20px;
  height: 20px;
  line-height: 20px;
  position: absolute;
  right: -10px;
  top: -10px;
  background: white;
  z-index: 1;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 0px 8px 16px -12px rgba(0,0,0,0.33);
}
.edit-button{
  width: 20px;
    position: absolute;
    right: 20px;
    top: -10px;
    background: white;
    z-index: 1;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0px 8px 16px -12px rgba(0,0,0,0.33);
}
.rating {
  display: inline-block;
  position: relative;
  height: 70px;
  line-height: 50px;
  font-size: 70px;
  left: 50%;
  transform: translateX(-50%);
  margin: 5% 0;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #ff9d2f;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #ff9d2f;
}

.button-no-bottom{
  bottom:0;
}

.points-progress-bar-wrapper{
  width: 100%;
  background-color: #eee;
  box-shadow: inset 0px 0px 7px -2px rgba(0,0,0,0.2);
  height: 30px;
  border-radius: 40px;
  position: absolute;
  overflow: hidden;
  bottom: 0;
}

.points-progress-bar{
  width: 0%;
  background-image: linear-gradient(#ff9d2f, #ff6126);
  height: 30px;
  transform: skew(-5deg);
  position: absolute;
  left:0;
  overflow:hidden;
}

.points-progress-bar-anim{
  width: 20%;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.35) 100%);
  height: 30px;
  transform: skew(-5deg);
  position: absolute;
  left:35px;
  overflow:hidden;
  animation: Progress 1s ease-out infinite;
}

/*aniamtion ===================================*/

@keyframes Progress {
	0% {
		left:0;
	}
	100% {
		left:120%;
	}
}

.promotions-profile{
  background-color: #f9f7f7;
  padding: 60px 3% 20% 3%;
}
.promotions-profile-wrapper{
  width: 100%;
  padding: 5% 0px;
  position: relative;
}
.promotions-profile-img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #eee;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.promotions-profile-img img{
  width: 100%;
}
.promotions-profile-img img{
  height: 100%;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%)
}
.promotions-profile-info{
  width: 65%;
  display: block;
  margin: 3% 0 3% 15%;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0px 0px 35px -51px rgba(0,0,0,0.38);
  transition: all 300ms;
  padding: 5% 0 5% 20%;
}
.edit-button-promo-profile {
  width: 7%;
  position: absolute;
  background: white;
  z-index: 1;
  padding: 3%;
  right: 3%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 10px;
  box-shadow: 0px 8px 16px -12px rgba(0,0,0,0.33);
}

.promotion-worker-card-link{
  display: block;
  margin: 3% 0;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 35px -51px rgba(0,0,0,0.38);
  -moz-box-shadow: 0px 0px 35px -51px rgba(0,0,0,0.38);
  box-shadow: 0px 0px 35px -51px rgba(0,0,0,0.38);
  transition: all 300ms;
}
.promotion-worker-card-link:active{
  transform: scale(0.95)
}
.promotion-bar-card{
  width:100%;
  position: relative;
  height: 170px;
}
.promotion-bar-card h4{
  text-align:center;
  margin:5% 0;
}
.promotion-bar-card a{
  display: inline-block;
}
.promotion-bar-card p{
  width: 60px;
  text-align: center;
}

.promo-img-frame{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background: black;
  display: inline-block;
  transition: all 300ms;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.promo-img{
  width:160%;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%)

}
.promo-img-checked{
  width:160%;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%)
}

/*Customer ============================================================================*/

.customer-page{
  background-color: #f9f7f7;
  padding: 60px 3% 20% 3%;
}

.bottom-navbar-wrapper{
  width: 100%;
  max-width: 450px;
  z-index: 500;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position:fixed;
  bottom: 0;
  background: #e0e0e0;
}
.bottom-navbar-wrapper button, .bottom-navbar-wrapper a{
    width: 33%;
    background-color: rgba(0,0,0,0);
    padding: 3% 0;
    color: white;
    text-align: center;
    border:none;
}
.customer-card{
  width: 100%;
}
.customer-card img{
  width: 100%;
}
.customer-page-togglebuttons{
  width: 100%;
  margin:0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.customer-page-togglebuttons div{
  width: 50%;
  padding: 5%;
  margin: 2% 0;
  text-align: center;
}
div.selected-button-customer{
  width: 100%;
  padding: 2px 0;
  background:#ff6126;
  margin-top: 20px;
  transition: all 200ms;
}

/*Promotions ==============================================================*/

.promotions-page{
  background-color: #f9f7f7;
  padding: 60px 3% 20% 3%;
}

div.selected-button{
  width: 100%;
  padding: 2px 0;
  background: red;
  margin-top: 20px;
  transition: all 200ms;
}

.worker-card-link{
  display: block;
  margin: 3% 0;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 35px -51px rgba(0,0,0,0.38);
  -moz-box-shadow: 0px 0px 35px -51px rgba(0,0,0,0.38);
  box-shadow: 0px 0px 35px -51px rgba(0,0,0,0.38);
  transition: all 300ms;
}
.worker-card-link:active{
  transform: scale(0.95)
}

.bottom-navbar-wrapper{
  width: 100%;
  z-index: 500;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position:fixed;
  bottom: 0;
}

/* Progress animation ======================= */
.pulse{
  animation:pulse 700ms ease infinite;
}

@keyframes pulse {
	0% {
		padding:0;
	}
	40% {
		padding:3%;
  }
  60% {
		padding:3%;
  }
  0% {
		padding:0%;
	}
}

.test{
  background: url(https://cdn.pixabay.com/photo/2017/01/13/01/22/ok-1976099_960_720.png);
  background-size: contain;
}
.test img{
  display: none;
}

/*wallet =================================*/

.form-wallet{
  position: fixed;
    bottom: 95px;
}
.wallet-button{
  position: relative;
}
.wallet-button img{
  position: absolute;
  top: -60px;
  left: 50%;
  -webkit-transform: translateY(-50%);
  transform: translate(-50%);
  width: 80%;
}
.wallet-button p{
  position: absolute;
  top: 20%;
  left: 40%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1.5em;
  font-weight: 700;

}
button.paypal-wrapper{
width: 100%;
display: flex;
    justify-content: center;
}
.paypal-wrapper p{
  line-height: 30px;
  font-size: 1.5em;
}
.paypal{
  width: 13%;
}