/*RESET ==============================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

li, input{
  display: block;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid black;
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/*MAIN ==========================================================*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900&display=swap');

.container{
  font-family: 'Poppins', sans-serif;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  background-color: rgba(20,15,0,1);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
a,a:hover,a:active,a:visited{
  text-decoration: none;
  color:black;
}

h1{font-size: 2.5em;margin: 2%;}
h2{font-size: 2em;margin: 2%;}
h3{font-size: 1.2em;margin: 2%;}
h4{font-size: 1em;margin: 2%;}
h5{font-size: 0.9em;margin: 2%;}
p{font-size: 0.8em;margin: 2%;}
label{font-size: 0.8em;}
input{font-size: 1em; font-family: 'Poppins', sans-serif;text-align: center;}


form{
  width: 80%;
  padding: 3% 5% 13% 5%;
  margin: 0 auto;
  border: 1px solid #eee;
  border-radius:20px;
  background: white;
  -webkit-box-shadow: 0px 0px 35px -51px rgba(0,0,0,0.38);
  -moz-box-shadow: 0px 0px 35px -51px rgba(0,0,0,0.38);
  box-shadow: 0px 0px 35px -51px rgba(0,0,0,0.38);
  transition: all 300ms;
  position: relative;
}

input[type="text"],input[type="number"],input[type="password"],input[type="email"]{
  width: 92%;
  padding: 0 4%;
  height: 45px;
  border-radius: 50px;
  margin: 5px 0;
  border: 1px solid #d6d5d5;
  outline: none;
}

/*SPLASH ==========================================================*/

.home-splash-wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: rgba(20,15,0,1);
  background: -moz-linear-gradient(top, rgba(20,15,0,1) 0%, rgba(245,12,98,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(20,15,0,1)), color-stop(100%, rgba(245,12,98,1)));
  background: -webkit-linear-gradient(top, rgba(20,15,0,1) 0%, rgba(245,12,98,1) 100%);
  background: -o-linear-gradient(top, rgba(20,15,0,1) 0%, rgba(245,12,98,1) 100%);
  background: -ms-linear-gradient(top, rgba(20,15,0,1) 0%, rgba(245,12,98,1) 100%);
  background: linear-gradient(to bottom, rgba(20,15,0,1) 0%, rgba(245,12,98,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#140f00', endColorstr='#f50c62', GradientType=0 );
}

.home-splash-wrapper > div{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
.home-splash-description img{
  width:80%;
}

.home-splash-buttons a{
  width: 100%;
}

/*SIGN UP ==========================================================*/

.signup-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.signup-wrapper img {
  width: 30%;
  margin: 10%;
}

.radio-wrapper{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
}

.radio-checked{
  width:45%;
  display: block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.radio-checked input{
  position: relative;
  opacity: 0;
  cursor: pointer;
  display: none;

}

.radio-checked:hover input ~ .checkmark-business {
  border:1px solid #ccc;
}
.radio-checked:hover input ~ .checkmark-customer {
  border:1px solid #ccc;
}

.radio-checked input:checked ~ .checkmark-business {
  border:1px solid red;
  background:#ffe1e1;
  transform: scale(1.1) rotate(2deg);
}
.radio-checked input:checked ~ .checkmark-customer {
  border:1px solid orange;
  background:#fff5e3;
  transform: scale(1.1) rotate(-2deg);
  
}

.checkmark-business{
  display: block;
  position: relative;
  padding: 15% 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 20px 0;
  transition: all 500ms;

}
.checkmark-customer{
  display: block;
  position: relative;
  padding: 15% 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 20px 0;
  transition: all 500ms;
  
}

.form-button-business{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  bottom:-30px;
  height: 60px;
  width: 80%;
  border-radius:50px;
  border:none;
  background: red;
}
.form-button-customer{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  bottom:-30px;
  height: 60px;
  width: 80%;
  border-radius:50px;
  border:none;
  background: orange;
}
.login-link-text-color{
  color:white;
}
.login-link-text-color a{
  color:#03a9f4;
}