/*RESET ==============================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

li, input{
  display: block;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid black;
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/*MAIN ==========================================================*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=K2D:400,700i&display=swap');

.container{
  font-family: 'Poppins', sans-serif;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  height: 100vh;
  color:#0e002f;
}
a,a:hover,a:active,a:visited{
  text-decoration: none;
}

h1{font-size: 2.5em;margin: 2%; font-family: 'K2D', sans-serif; font-weight: 700;font-style: italic;}
h2{font-size: 2em;margin: 2%;}
h3{font-size: 1.2em;margin: 2%;}
h4{font-size: 1em;margin: 2%;}
h5{font-size: 0.9em;margin: 2%;}
p{font-size: 0.8em;margin: 2%;}
label{font-size: 0.8em;}
input{font-size: 1em; font-family: 'Poppins', sans-serif;text-align: center;}


form{
  width: 80%;
  padding: 3% 5% 13% 5%;
  margin: 0 auto;
  border: 5px solid #eee;
  border-radius:20px;
  background: white;
  -webkit-box-shadow: 0px 0px 35px -51px rgba(0,0,0,0.38);
  -moz-box-shadow: 0px 0px 35px -51px rgba(0,0,0,0.38);
  box-shadow: 0px 0px 35px -51px rgba(0,0,0,0.38);
  transition: all 300ms;
  position: relative;
  z-index: 2;
  box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
}

input[type="text"],input[type="number"],input[type="password"],input[type="email"]{
  width: 92%;
  padding: 0 4%;
  height: 45px;
  border-radius: 50px;
  margin: 5px 0;
  border: 1px solid #d6d5d5;
  outline: none;
}

/*SPLASH ==========================================================*/

.home-splash-wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(-45deg, #ff9d2f, #5c0037, #0e002f, #402482);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}
.home-splash-title{
  width:100%;
}

.home-splash-title img{
  width:80%;
}

.home-splash-wrapper > div{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.home-splash-description img{
  width:80%;
}

.home-splash-buttons a{
  width: 100%;
  position: relative;
}
.home-button-signup{
  color: white;
  font-family: 'K2D', sans-serif;
  font-size: 1.1em;
  font-weight: 700;
  font-style: italic;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 80px;
  width: 80%;
  border-radius: 50px;
  border: none;
  background-image: linear-gradient(#ff9d2f, #ff6126);
}

/*animations======================================*/

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


/*SIGN UP ==========================================================*/

.signup-bg-color-black{
  background-image: linear-gradient(#402482, #0e002f);
  background-attachment: fixed;
}
.signup-bg-color-business{
  background-image: linear-gradient(#e20088,#ff2f2f);
  background-attachment: fixed;
}
.signup-bg-color-customer{
  background-image: linear-gradient(#ff9d2f, #ff6126);
  background-attachment: fixed;
}

.signup-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 5% 0 0 0;
}

.signup-wrapper img {
  width: 30%;
  margin: 10%;
}

.radio-wrapper{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
  
}

.radio-checked{
  width:45%;
  display: block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.radio-checked input{
  position: relative;
  opacity: 0;
  cursor: pointer;
  display: none;
}

.radio-checked input:checked ~ .checkmark-business {
  border:5px solid #e20088;
  background:#ffe1e1;
  transform: scale(1.1) rotate(2deg);
  box-shadow: inset 0px 0px 22px 0px rgb(255, 100, 38);
  z-index: 3;
}
.radio-checked input:checked ~ .checkmark-customer {
  border:5px solid #ff6126;
  background:#fff5e3;
  transform: scale(1.1) rotate(-2deg);
  box-shadow: inset 0px 0px 22px 0px rgb(255, 100, 38);
  z-index: 3;
  
}
.checkmark-customer, .checkmark-business{
  display: block;
  position: relative;
  padding: 15% 0;
  width: 100%;
  border: 4px solid #eee;
  border-radius: 10px;
  margin: 20px 0;
  transition: all 500ms;
  box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
}

.form-button-business{
  color:white;
  font-family: 'K2D', sans-serif;
  font-weight: 700;
  font-style: italic;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  bottom:-30px;
  height: 60px;
  width: 80%;
  border-radius:50px;
  border:none;
  background-image: linear-gradient(#e20088,#ff2f2f);
}
.form-button-customer{
  color:white;
  font-family: 'K2D', sans-serif;
  font-weight: 700;
  font-style: italic;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  bottom:-30px;
  height: 60px;
  width: 80%;
  border-radius:50px;
  border:none;
  background-image: linear-gradient(#ff9d2f, #ff6126);
}
.login-link-text-color{
  color: white;
  margin: 30px;
  text-align: center;
  width: 100%;
}
.login-link-text-color a{
  color:#0e002f;
  font-size: 1em;
  background-color: white;
  padding: 2% 5%;
  border-radius:20px;
  margin-left:10px;
}
